@import '../../../common.styl'

.screen
  background white;
  max-width 800px;

.screenWrapper
  padding-top 20px;
  width 100%;

.table
  display flex;
  flex-direction column;
  width 100%;

.head
  display block;
  width 100%;
  padding 10px

.row 
  display flex;
  width 100%;
  div
    display flex
    min-width 20%
    align-items center

.body
  display flex;
  flex-direction: column;

.pagination
  margin-top 20px
  padding-bottom 20px
  display flex
  gap 10px
  width 100%
  justify-content center



