@import '../../../common.styl'

.screenWrapper
  padding 28px

.screen
  background white
  coolScrollbar()


.items
  display block
  padding-right 20px
  padding-left 20px
  padding-bottom 20px

.table
  display flex;
  flex-direction column;
  width 100%;
